body{
    background: #000;
    background-size:cover;
    background-repeat: no-repeat;
}
h2{
    color: #666;
    font-family: monospace;
    text-align: center;
}
.background{
    table-layout: fixed;
    border-spacing: 0;
}
.background td{
    padding:  0;
}
.lava, .actor{
    background: red;
}
.wall{
    background: #fff;
    box-sizing: content-box;
}
.actor{
    position: absolute;
}
.coin{
    background: #e2e838;
}
.door {
  background: #000;
}
.player{
    background: rgb(88, 88, 211);
}
.lost .player{
    background: #a04040;
}
.won .player {
    background: green;
}

.game{
    position: relative;
    overflow: hidden;
}
