input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
    cursor: nw-resize;
}

body {
    background: #000;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: "Press Start 2P", "Hack", Menlo, Consola, Courier;
    padding: 0;
    margin: 0;
}
h2{
    color: #666;
    font-family: monospace;
    text-align: center;
}
.background{
    table-layout: fixed;
    border-spacing: 0;
}
.background td{
    padding:  0;
}
.lava, .actor{
    background: red;
}
.wall{
    background: #fff;
    box-sizing: content-box;
}
.actor{
    position: absolute;
}
.coin{
    background: #e2e838;
}
.door {
  background: #000;
}
.player{
    background: rgb(88, 88, 211);
}
.lost .player{
    background: #a04040;
}
.won .player {
    background: green;
}

.game{
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

.dialog {
    color: #fff;
    background: #000;
    border: solid 5px #fff;
    box-shadow: 6px 6px 0px 0px #fff;
    z-index: 999999;
}

.dialog__top {
    background: #fff;
    color: #000;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.dialog--caution {
    color: rgb(255, 80, 80);
    background: #000;
    border: solid 5px rgb(255, 80, 80);
    box-shadow: 6px 6px 0px 0px rgb(255, 80, 80);
}

.dialog--caution .dialog__top {
    background: rgb(255, 80, 80);
}

.dialog--success {
    color: rgb(112, 248, 80);
    background: #000;
    border: solid 5px rgb(112, 248, 80);
    box-shadow: 6px 6px 0px 0px rgb(112, 248, 80);
}

.dialog--success .dialog__top {
    background: rgb(112, 248, 80);
}

.dialog--info {
    color: rgb(44, 172, 204);
    background: #000;
    border: solid 5px rgb(44, 172, 204);
    box-shadow: 6px 6px 0px 0px rgb(44, 172, 204);
}

.dialog--info .dialog__top {
    background: rgb(44, 172, 204);
}

.dialog--warning {
    color: rgb(238, 225, 45);
    background: #000;
    border: solid 5px rgb(238, 225, 45);
    box-shadow: 6px 6px 0px 0px rgb(238, 225, 45);
}

.dialog--warning .dialog__top {
    background: rgb(238, 225, 45);
}

.dialog__top-close {
    background: none;
    border: none;
    color: #000;
    font-family: "Press Start 2P";
    font-size: 20px;
    position: absolute;
    right: 5px;
    margin-top: -10px;
    padding: 0;
}